.container svg {
  width: 2000px;
  height: 2000px;

  animation: animateObj 0.3s ease forwards;
}

.heading {
  color: #232323;
  animation: animateHeading 1s ease 0.4s forwards;
}

.heading:hover {
  text-shadow: 2px 1px 0 #eaeaea, 3px 0px 0 #232323, 3px 2px 0 #232323,
    -0.5px 2px 0 #232323;
}

@keyframes animateObj {
  0% {
    position: absolute;
    top: -343px;
    border-radius: 50%;
  }

  100% {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}

@keyframes animateHeading {
  from {
    opacity: 0;

    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
