.heading {
  color: #232323;
  animation: animateHeading 1s ease 0.4s forwards;
}

.heading:hover {
  text-shadow: 2px 1px 0 #eaeaea, 3px 0px 0 #232323, 3px 2px 0 #232323,
    -0.5px 2px 0 #232323;
}

@keyframes animateHeading {
  from {
    opacity: 0;

    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
